body {
  background-color: rgb(209, 209, 209);
  box-sizing: border-box;
  margin: auto;
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  width: 1100px;
}

html {
  scroll-behavior: smooth;
}

