body {
  box-sizing: border-box;
  width: 1100px;
  min-height: 100vh;
  margin: auto;
  font-family: "Raleway", sans-serif;
  background-color: rgb(209, 209, 209);
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  grid-template-areas: "menu logo address";
  align-items: center;
  padding: 75px 50px 78px 13px;
  font-size: 18px;
  background-color: white;
}

.menu {
  grid-area: menu;
  justify-self: start;
  width: 450px;
}

.menu_list {
  display: flex;
  flex-direction: row;
  gap: 33px;
  padding: 15px 0px 17px 37px;
  list-style-type: none;
}

.menu_link_main {
  text-decoration: none;
  color: black;
}

.menu_active {
  text-underline-position: under;
  list-style-type: circle;
}

.menu_link {
  color: black;
}

.logo {
  grid-area: logo;
  padding: 3px 0px 0px 15px;
}

.address {
  font-style: normal;
  text-decoration: none;
}

.first_address {
  justify-self: end;
  width: 240px;
  padding: 20px 0px 22px;
}

.text_address {
  line-height: 1.35;
}

.contacts {
  color: black;
  text-underline-position: under;
  line-height: 1.4;
}

/*секция с большой картинкой*/

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-image: url(../images/cover.jpg);
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0/0.6);
}

.cover_title {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1000px;
  padding: 165px 50px 80px;
  color: #ffffff;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
  text-align: start;
  text-transform: uppercase;
}

.cover_title_you {
  text-align: center;
}

.cover_title_need {
  text-align: right;
}

.o {
  letter-spacing: 0;
}

.description {
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: 107px;
  margin-bottom: 21px;
  padding: 27px 50px;
}

.description_text {
  align-self: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 18.5px;
}

.description_button {
  align-self: center;
  width: 256px;
  height: 51px;
  border-width: 1px;
  border-style: solid;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  text-transform: uppercase;
  background-color: transparent;
}

/*секция с карточками*/

.lots {
  display: flex;
  flex-direction: column;
  padding-top: 180px;
  background-color: #ffffff;
}

.lots_title {
  margin: 0px 0px 28px 65px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.card_list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding: 0px 24px;
  list-style-type: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 334px;
  min-height: 596px;
  background-position: center;
  background-size: cover;
}

.card_text {
  display: flex;
  flex-direction: column;
  z-index: 2;
  text-align: start;
}

.card_name {
  padding: 48px 40px 0px;
  color: #ffffff;
  font-weight: 700;
  font-size: 22px;
  text-align: start;
  text-decoration: underline;
  text-transform: uppercase;
}

.card_description {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-transform: inherit;
}

.first_card {
  background-image: url(../images/card-lot-01.jpg);
}

.second_card {
  background-image: url(../images/card-lot-02.jpg);
}

.third_card {
  background-image: url(../images/card-lot-03.jpg);
}

.film {
  padding: 278px 40px 0px;
}

.book {
  padding: 36px 40px 0px;
}

.picture{
  padding: 132px 40px 0px;
}

.lots_more {
  padding: 30px 0px 0px 64px;
  color: black;
  font-weight: 400;
  font-size: 20px;
  text-underline-position: under;
}

/*секция с аукционом*/

.about {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas:
  "logo_circle about_auction about_auction "
  "logo_circle about_auction about_auction"
  "logo_circle about_auction about_auction"
  ". about_auction about_auction"
  ". about_auction about_auction"
  ". about_auction about_auction";
  width: 1100px;
  min-height: 529px;
  padding: 128px 0px 137px 0px;
  background-color: #ffffff;
}

.circle {
  display: flex;
  grid-area: logo_circle;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 27px 0px 0px 71px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
}

.about_auction {
  grid-area: about_auction;
  width: 707px;
}

.auction_title {
  padding: 126px 0px 81px 16px;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
}

.auc_com {
  padding: 20px 1px 4px 16px;
  font-weight: 400;
  font-size: 20px;
}

/*футер*/

.footer {
  all: initial;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: 
  "second_address second_address menu_footer social social";
  padding: 0px 0px 78px;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #ffffff;
}

.second_address {
  grid-area: second_address;
  padding: 40px 0px 0px 51px;
  font-style: normal;
  line-height: 1.4;
  text-decoration: none;
}

.menu_second_block {
  display: flex;
  flex-direction: column;
  grid-area: menu_footer;
  align-items: center;
  line-height: 1.19;
  list-style-type: none;
  align-self: center;
  padding: 40px 0px 0px;
}

.menu_link {
  text-decoration: underline;
  text-underline-position: under;
}

.social {
  display: flex;
  grid-area: social;
  gap: 48px;
  padding: 40px 0px 0px 150px;
  list-style-type: none;
}

/*ура, великая победа орды!*/
